<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/horizontal.css">
    </head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('home')}}">Flix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">Popular</a>
            <a class="nav-link" href="#">Now Playing</a>
            <a class="nav-link" href="{{url_for('serie_list')}}">Series</a>
            <a class="nav-link" href="">Favorite</a>
            <a class="nav-link" href="{{url_for('search_form')}}">Search</a>

          </div>
        </div>
      </nav>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li class="alert alert-danger"> {{message}}</li>
        {% endfor %}
      </ul>
        {% endif %}
      {% endwith %}


      <div class="container">
        <div class="row mt-3">

      {% block search %}


      {% endblock %}

      </div>
      </div>

      <div class="container">
        <div class="row mt-3">

      {% block movies %}
        

      {% endblock %}

      </div>
      </div>
    
    
    
        {% block recommendation %}
    
        {% endblock %}
    
    

        {% block comments %}
        {% endblock %}
    
    
    
      <div class="container">
        <div class="row mt-3">

      {% block search_result %}


      {% endblock %}

      </div>
      </div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>