{% extends "base_movies.html" %}

{% block content %}

<div class="col-sm-3 mb-3">
  <img src="{{serie.poster_path}}" class="img-thumbnail" alt="...">

</div>

<div class="col-lg mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{serie.name}}</h5>
      <p class="card-text">Storyline: {{serie.overview}}</p>
      <p class="card-text">Popularity: {{serie.popularity}}</p>
      <p class="card-text">Vote: {{serie.vote_average}}</p>
      <p class="card-text">First aired: {{serie.first_air_date}}</p>
  </div>
</div>
</div>
{% endblock %}

{% block recommendation%}
    <hr style="width:100%;text-align:left;margin-left:0">
{% endblock %}